# dependencies
node_modules/

# build outputs
dist/
.vite/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# editor / IDE
.vscode/
.idea/

# local docs (do not track)
doc/
